*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
}

body{
  background-color: #74baf8;
}

.main {
  margin-top: 100px;
  display: flex;
  padding: 10rem;
  gap: 1rem;
  width: 100vh;
  margin-inline: auto;
  border-radius: 4rem;           
  flex-direction: column;  
  background-color: #3c92fb;
}

.main h1 {
  color: #122d7c;
}

.main p {
  font-size: 20px;
  text-decoration: underline;
  color: #aad7fe;
}
  
.main a{
  color: #aad7fe;
  display: flex;
  margin-right: 10px;
  padding: 5px;
  background-color: #122d7c;
  border-radius: 5px;
}

/* Navbar */
.navbar {
  text-align: center;
  background-color: #122d7c;
  padding: 10px 20px;
  color: #aad7fe;
  position: relative;
}
